.applicationPage {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.loanForm {
  max-width: 80%;
  padding: 24px;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 48px;
}

h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #333;
  font-style: italic;
}
input,
select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #ea4c38;
  cursor: pointer;
  outline: none;
  transition: border 0.2s ease;
}
input:focus,
select:focus {
  border: 2px solid #ea4c38;
}
.personalInfo,
.additionalInfo,
.loanInfo,
.financialInfo,
.loanOfficer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.checkboxList {
  display: flex;
  gap: 8px;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.checkboxItem input {
  accent-color: #ea4b37;
}
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}
.buttonContainer {
  display: flex;

  justify-content: center;
  gap: 48px;
  margin-top: 48px;
}
.loadId {
  border: none;
}

@media (max-width: 1100px) {
  .loanForm {
    padding: 0 36px;
  }
  .personalInfo,
  .additionalInfo,
  .loanInfo,
  .financialInfo,
  .loanOfficer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
